<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="topstory,iterStat : ${listTopViewWeek}"
             th:if="${iterStat.index < 4}">
            <div class="item">
                <div class="thumb">
                    <a th:href="@{'/truyen/'+${topstory.id}}"
                       th:title="${topstory.vnName}">
                        <img class="img-fluid lazyload" alt=""
                             th:data-src="${topstory.images}"
                             th:title="${topstory.vnName}">
                    </a>
                </div>
                <div class="info" style="">
                    <h2 class="title">
                        <a th:href="@{'/truyen/'+${topstory.id}}"
                           th:title="${topstory.vnName}"
                           th:text="${topstory.vnName}"></a>
                    </h2>
                    <p class="description text-center"
                       th:text="${T(org.jsoup.Jsoup).parse(topstory.infomation).text()}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        <span class="swiper-pagination-bullet"></span>
    </div>
</div>