<section id="carouselExampleIndicators" class="carousel slide"
         data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"
            class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <section class="carousel-inner" role="listbox">
        <section class="carousel-item active">
            <img class="d-block img-fluid lazyload"
                 th:data-src="@{images/login-slide-1.jpg}" alt="First slide">
            <noscript>
                <img class="d-block img-fluid"
                     th:src="@{images/login-slide-1.jpg}" alt="First slide">
            </noscript>
            <section class="carousel-caption d-none d-md-block">
                <section class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation</p>
                </section>
            </section>
        </section>
        <section class="carousel-item">
            <img class="d-block img-fluid lazyload"
                 th:data-src="@{images/login-slide-2.jpg}" alt="First slide">
            <noscript>
                <img class="d-block img-fluid"
                     th:src="@{images/login-slide-2.jpg}" alt="First slide">
            </noscript>
            <section class="carousel-caption d-none d-md-block">
                <section class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation</p>
                </section>
            </section>
        </section>
        <section class="carousel-item">
            <img class="d-block img-fluid lazyload"
                 th:data-src="@{images/login-slide-3.jpg}" alt="First slide">
            <noscript>
                <img class="d-block img-fluid"
                     th:src="@{images/login-slide-3.jpg}" alt="First slide">
            </noscript>
            <section class="carousel-caption d-none d-md-block">
                <section class="banner-text">
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation</p>
                </section>
            </section>
        </section>
    </section>
</section>