<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Email Forgot Password HTML Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto'
          rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0"
       width="800" style="border-collapse: collapse;">
    <tr>
        <td bgcolor="#6b9876"
            style="padding: 30px 30px 30px 30px; text-align: center">
            <p th:text="${signature}"
               style="color: white; text-transform: uppercase;"></p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea"
            style="padding: 40px 30px 40px 30px; color: black;">
            <p th:text="${'Gửi ' + name}" style="size: 18px"></p>
            <p style="size: 18px">
                Mật khẩu mới của bạn là: <b th:text="${password}"></b>
            </p>
            <p>Thanks</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#6b9876" style="padding: 30px 30px 30px 30px;"><a
                th:href="${url}" th:text="${signature}" style="color: white;"></a></td>
    </tr>
</table>

</body>
</html>