<div class="col-lg-2 col-md-3" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card sticky-top mb-3" style="top: 20px !important">
        <div class="card-body list-group z-depth-1 p-0">
            <a class="list-group-item" th:classappend="${typePage ==0?'active':''}" th:href="@{/tai-khoan/}">Hồ sơ</a>
            <a class="list-group-item" th:classappend="${typePage ==7?'active':''}" th:href="@{/tai-khoan/theo_doi}">Truyện Theo Dõi</a>
            <a class="list-group-item" th:classappend="${typePage ==1?'active':''}" th:href="@{/tai-khoan/doi_mat_khau}">Đổi Mật Khẩu</a>
            <a class="list-group-item" th:classappend="${typePage ==2?'active':''}" th:href="@{/tai-khoan/nap_dau}">Nạp Đậu</a>
            <a class="list-group-item" th:classappend="${typePage ==3?'active':''}" th:href="@{/tai-khoan/giao_dich}">Log Giao Dịch</a>
            <a class="list-group-item" th:classappend="${typePage ==4?'active':''}" th:href="@{/tai-khoan/rut_tien}"
               sec:authorize="hasAnyRole('ROLE_CONVERTER','ROLE_SMOD')">Rút Tiền</a>
            <a class="list-group-item" th:classappend="${typePage ==5?'active':''}" th:href=" @{/tai-khoan/them_truyen}">Đăng Truyện</a>
            <a class="list-group-item" th:classappend="${typePage ==6?'active':''}" th:href="@{/tai-khoan/quan_ly_truyen}">Quản
                lý Truyện</a>
        </div>
    </div>
</div>