<section class="block-content" id="dataTable">
    <ul class="list-group">
        <li class="list-group-item list-group-item-table"
            th:each="story : ${listStory}">
            <section class="content">
                <a class="thumb"
                   th:href="@{'/truyen/'+${story.id}}">
                    <img class="img-fluid lazyload"
                         th:data-src="${story.images}"
                         th:alt="${story.vnName}">
                </a>
                <section class="info">
                    <h2 class="title">
                        <a th:href="@{'/truyen/'+${story.id}}"
                           th:title="${story.vnName}">
                            <img class="img-fluid"
                                 th:if="${story.dealStatus == 1}"
                                 th:src="@{/images/vip-vip.gif}">
                            <span th:class="${story.dealStatus == 1}?'shadow-2' : ''"
                                  th:text="${story.vnName}"></span>
                        </a>
                    </h2>
                    <section class="chap" th:text="${story.author}"></section>
                    <section class="author">
                        <a th:if="${story.chapterId != null}"
                           th:href="@{'/truyen/'+${story.id}+'/chuong-'+${story.chapterId}}"
                           th:title="'Chương ' + ${story.chapterNumber}"
                           th:text="'Chương '+ ${story.chapterNumber}"></a>
                        <a th:unless="${story.chapterId != null}">&nbsp;</a>
                    </section>
                    <section class="time"
                             th:text="${story.timeUpdate}"></section>
                </section>
            </section>
        </li>
    </ul>
    <section th:if="${totalIndex > 1}">
        <ul class="pagination justify-content-end mb-3 mt-3">
            <li th:if="${currentIndex != 1}" class="page-item">
                <a class="page-link" title="Trang Đầu"
                   th:href="@{''+${urlIndex} + '/trang-1'}">
                    <i class="fas fa-backward fa-sm"></i>
                </a>
            </li>
            <li th:if="${currentIndex != 1}" class="page-item">
                <a class="page-link"
                   th:href="@{''+${urlIndex} + '/trang-'+${currentIndex-1}}">
                    <i class="fas fa-step-backward fa-sm"></i>
                </a>
            </li>
            <th:block th:each="i : ${#numbers.sequence( beginIndex, endIndex)}">
                <li class="page-item active" th:if="${i == currentIndex}"><a
                        class="page-link disabled"
                        th:href="@{''+${urlIndex} + '/trang-'+${i}}"
                        th:text="${i}"></a></li>
                <li class="page-item" th:unless="${i == currentIndex}"><a
                        class="page-link"
                        th:href="@{''+${urlIndex} + '/trang-'+${i}}"
                        th:text="${i}"></a></li>
            </th:block>
            <li th:if="${currentIndex != totalIndex}" class="page-item">
                <a class="page-link"
                   th:href="@{''+${urlIndex} + '/trang-'+${currentIndex+1}}">
                    <i class="fas fa-step-forward fa-sm"></i>
                </a>
            </li>
            <li th:if="${currentIndex != totalIndex}" class="page-item">
                <a class="page-link" title="Trang Cuối"
                   th:href="@{''+${urlIndex} + '/trang-'+${totalIndex}}">
                    <i class="fas fa-forward fa-sm"></i>
                </a>
            </li>
        </ul>
    </section>
</section>