<div id="comment_field">
    <div class="cm-based">
        <p class="comment-count"><span id="count_comment">{{totalComment}}</span> bình luận
        </p>
        <form name="frmContact" id="frmContact" method="post" ng-submit="addComment()" novalidate>
            <div class="form row">
                <div class="form-group col-md-10 comment-text">
                        <textarea ng-model="commentText" class="form-control">
                        </textarea>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" ng-click="" class="btn btn-truyen btn-lg btn-block " name="btnComment"
                            id="btnComment">
                        <span class="fas fa-check" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
        <div id="truyen-detail-comment" class="blog-comment">
            <div class="alert alert-primary" role="alert" ng-show="listComment.length === 0">
                <h5 class="text-center">Chưa có Bình Luận nào</h5>
            </div>
            <ul class="comments" id="comment_list" ng-show="listComment.length !== 0">
                <li class="clearfix" ng-repeat="comment in listComment" id="comment_{{comment.comID}}">
                    <div style="float:left;width:40px;height:80px;">
                        <a ng-href="/member/{{comment.user.id}}">
                            <img class="avatar"
                                 alt="{{comment.user.displayName}}"
                                 ng-src="{{comment.user.avatar? comment.user.avatar : noImage}}">
                        </a><br style="clear:both">
                    </div>
                    <div class="post-comments">
                        <p ng-bind-html="comment.content"></p>
                        <p class="meta-2">
                            <a ng-href="/member/{{comment.user.id}}"><abbr title="Thành viên">{{comment.user.displayName}}</abbr></a>
                            <small>
                                <small><a>Báo xấu</a></small>
                            </small>
                            <small class="float-right">{{comment.timeUpdate}}
                            </small>
                        </p>
                    </div>
                </li>
            </ul>
            <div ng-show="totalCommentPages>1">
                <ul class="pagination justify-content-end mb-3 mt-3">
                    <li ng-show="currentCommentPage != 1" class="page-item">
                        <a class="page-link" ng-click="getListComment(currentCommentPage - 1, 1)">
                            <i class="fas fa-step-backward fa-sm"></i>
                        </a>
                    </li>
                    <li ng-repeat="i in pageComment" ng-class="i===currentCommentPage?'page-item active': 'page-item'">
                        <a ng-class="i===currentCommentPage?'page-link disabled': 'page-link'"
                           ng-click="getListComment(i,1)">{{i}}</a>
                    </li>
                    <li ng-show="currentCommentPage != totalCommentPages" class="page-item">
                        <a class="page-link" ng-click="getListComment(currentCommentPage + 1, 1)">
                            <i class="fas fa-step-forward fa-sm"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-click="getListComment(1, 0)">
                            Xem hết
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>