<section class="col-12" ng-show="listStory.length === 0">
    <section class="alert alert-primary" role="alert">
        <h5 class="text-center">Chưa có truyện đăng </h5>
    </section>
</section>
<section class="col-12" ng-show="listStory.length !== 0">
    <section class="block block-default block-list-new">
        <section class="block-content" id="dataTable">
            <ul class="list-group">
                <li class="list-group-item list-group-item-table" ng-repeat="item in listStory">
                    <section class="content">
                        <a class="thumb" ng-href="/truyen/{{item.id}}">
                            <img class="img-fluid lazyload"
                                 ng-src=="{{item.images}}"
                                 alt="{{item.vnName}}">
                        </a>
                        <section class="info">
                            <h2 class="title">
                                <a ng-href="/truyen/{{item.id}}"
                                   ng-title="{{item.vnName}}">
                                    <img class="img-fluid"
                                         ng-show="item.dealStatus === 2"
                                         src="/images/vip-vip.gif">
                                    <span ng-class="{{'shadow-2': item.dealStatus === 1}}">{{item.vnName}}</span>
                                </a>
                            </h2>
                            <section class="chap"> {{item.author}}</section>
                            <section class="author">
                                        <span class="d-block">
                                            <i class="fas fa-eye"></i> {{item.countView}} lượt xem
                                        </span>
                            </section>
                            <section class="time">
                                <a ng-show="{{item.newChapter !== null}}"
                                   ng-href="/truyen/{{item.id}}/chuong-{{item.newChapter.id}}"
                                   ng-title="Chương {{item.newChapter.chapterNumber}}"> Chương {{item.newChapter.chapterNumber}}</a>
                                <a class="d-block d-sm-none"
                                   ng-show="{{item.newChapter !== null}}">&nbsp;</a>
                                <small class="d-none d-sm-inline-block"
                                       ng-show="{{item.newChapter != null}}"> - {{item.timeUpdate}}</small>
                            </section>
                        </section>
                    </section>
                </li>
            </ul>
            <section ng-show="totalPages>1">
        <ul class="pagination justify-content-end mb-3 mt-3">
            <li ng-show="currentPage != 1" class="page-item">
                <a class="page-link"
                   ng-click="getListStory(currentPage - 1, 1)">
                    <i class="fas fa-step-backward fa-sm"></i>
                </a>
            </li>
            <li ng-repeat="i in page"
                ng-class="i===currentPage?'page-item active': 'page-item'">
                <a ng-class="i===currentPage?'page-link disabled': 'page-link'"
                   ng-click="getListStory(i,1)">{{i}}</a>
            </li>
            <li ng-show="currentPage != totalPages" class="page-item">
                <a class="page-link"
                   ng-click="getListStory(currentPage + 1, 1)">
                    <i class="fas fa-step-forward fa-sm"></i>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" ng-click="getListStory(1, 0)">
                    Xem hết
                </a>
            </li>
        </ul>
    </section>
        </section>
    </section>
</section>