<div class="col-12 col-md-12 col-lg-4">
    <div class="block block-default block-readers-choice">
        <div class="block-header"><h2 class="title"> Top Tháng </h2></div>
        <div class="block-content">
            <ul class="list-group">
                <div>
                    <li class="list-group-item list-group-item-primary-me item-featured"
                     >
                        <div class="content">
                            <div class="index index-1 index-star"> 1</div>
                            <div class="info">
                                <h2 class="title">
                                    <a href="#"
                                       title="#"
                                      > Trên biển dương cầm sư là một con hải cẩu hà mã</a>
                                </h2>
                                <div class="view text-secondary">
                                <span class="text-red fz-16">10</span> đề cử
                                </div>
                                <div class="extra-info">
                                    <p>Thể Loại:
                                        <a href="#"
                                         >Đô thị</a>
                                    </p>
                                    <p>Tác giả: <span text="#">Cá xấu</span>
                                    </p>
                                </div>
                            </div>
                            <div class="thumb">
                                <div class="book-cover">
                                    <a class="book-cover-link" 
                                       href="#"
                                       title="#">
                                        <img src="../../static/images/300.png">
                                    </a> <span class="book-cover-shadow"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-primary-me"
                        >
                        <div class="content">
                            <div
                                    class="index index-2 index-star"
                                    text="">2</div>
                            <div class="info">
                                <h2 class="title">
                                    <a href="#"
                                       title="#"
                                      >Trên biển hải cẩu</a>
                                </h2>
                                <div class="view text-secondary"
                                         text="">100000</div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>