<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <th:block th:insert="/fragments/header"></th:block>
</head>
<body>
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section id="content" class="container mb-4">
            <section class="featured-content">
                <section class="row">
                    <div class="error-card">
                        <div class="error-title-block">
                            <h1 class="error-title" th:if="${number!=null}" th:text="${number}"></h1>
                            <h2 class="error-sub-title" th:text="${message}" th:if="${message!=null}"></h2>
                        </div>
                        <div class="error-container text-center mt-4">
                            <a class="btn btn-truyen " th:href="@{/}"><i
                                    class="fa fa-angle-left"></i> Trở về Trang Chủ</a>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
    <script>
        $(document).ready(function () {
            $('.error-title-block').addClass('animated flipInY');
            $('.error-container').addClass('animated fadeInUp');
        })
    </script>

</section>
<section th:replace="/fragments/footer"></section>
</body>
</html>