<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!--Angular JS-->
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--Angular Sanitize JS-->
    <script th:src="@{/bower/angular-sanitize/angular-sanitize.min.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/homeMemberController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>
</head>
<body class="page-read body-home" ng-app="ngApp" ng-controller="memberCtrl" th:ng-init="|init(${user.id})|">
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container mb-4 mt-5">
                <section class="featured-content">
                    <section class="row">
                        <section class="col-12">
                            <section id="navbar-custom">
                                <section th:replace="/nav-tabs/memberNavtabs"></section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<!--Footer-->
<section th:replace="/fragments/footer"></section>
</body>
</html>