<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!--Angular JS-->
    <script th:src="@{/bower/angular/angular.min.js}"></script>
    <!--Angular Sanitize JS-->
    <script th:src="@{/bower/angular-sanitize/angular-sanitize.min.js}"></script>
    <!--Upload Images Ajax-->
    <script type="text/javascript" th:src="@{/js/ajaxupload.js}"></script>
    <!--My AngularJS Controller-->
    <script th:src="@{/js/controller/accHomeController.js}"></script>
    <!--Home AngularJS Service-->
    <script th:src="@{/js/service/WebService.js}"></script>

</head>
<body ng-app="ngApp" ng-controller="accHomeCtrl">
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container container-full mb-4 mt-5">
                <section class="featured-content">
                    <section class="container-fluid">
                        <section class="featured-content" id="content">
                            <section class="row">
                                <th:block th:include="/nav-tabs/navbar_left"></th:block>
                                <section class="col-lg-10 col-md-9">
                                    <section class="row">
                                        <div class="col-lg-6 mb-5">
                                            <div class="card h-100">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="fas fa-user" style="" aria-hidden="true"></span> Thông tin tài khoản
                                                </h3>
                                                <div class="card-body media">
                                                    <div class="mr-2" style=" position: relative">
                                                        <a>
                                                            <img class="img-thumbnail lazyload" width="210px" th:data-src="${user.avatar}" alt="Avatar" id="imgavatar">
                                                        </a>
                                                        <button id="upload" style="position: absolute;top:0px">Đổi</button>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text-muted">ID: <strong th:text="${user.id}"></strong>
                                                        </p>
                                                        <p class="text-muted">Ngoại hiệu:
                                                            <strong th:if="${user.displayName == null || #strings.isEmpty(user.displayName)}">Bạn chưa có Ngoại hiệu</strong>
                                                            <strong th:unless="${user.displayName== null || #strings.isEmpty(user.displayName)}" th:text="${user.displayName}"></strong>
                                                        </p>
                                                        <p class="text-muted">Email: <strong th:text="${user.email}"></strong>
                                                        </p>
                                                        <p class="text-muted">Đã đăng <strong class="text-primary" th:text="${user.story}"></strong> truyện và <strong class="text-primary"
                                                                                                                                                                       th:text="${user.chapter}"> </strong>
                                                            chương
                                                        </p>
                                                        <p class="text-muted">Tài sản: <strong class="text-primary" th:text="${user.gold}"></strong> đậu</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-5">
                                            <div class="card h-100">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="fas fa-user" aria-hidden="true"></span> Cập nhật thông báo
                                                </h3>
                                                <div class="card-body">
                                                    <p class="text-muted mb-2">Hạn chế dùng link trong thông báo, muốn dùng link hãy dùng bit.ly hoặc goo.gl để rút gọn link trước khi đưa vào thông
                                                        báo</p>
                                                    <form class="form-horizontal" id="frmupdateabout" name="frmupdateabout" ng-submit="updateNotification()">
                                                        <textarea id="txtAbout" class="form-control" name="txtAbout" rows="3" th:text="${user.notification!= null?user.notification:'' }"></textarea>
                                                        <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect float-right">Cập nhật</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-5">
                                            <div class="card h-100">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="fas fa-user" aria-hidden="true"></span> Đổi ngoại hiệu
                                                </h3>
                                                <div class="card-body">
                                                    <p class="text-muted mb-2">Ngoại hiệu hiện tại:
                                                        <strong th:if="${user.displayName== null || #strings.isEmpty(user.displayName)}">Bạn
                                                            chưa
                                                            có Ngoại hiệu</strong>
                                                        <strong th:unless="${user.displayName== null || #strings.isEmpty(user.displayName)}"
                                                                th:text="${user.displayName}"></strong>
                                                    </p>
                                                    <p class="text-muted mb-2">Việc đổi tên sẽ mất 2000 đậu, bạn đang
                                                        có <strong th:text="${user.gold}"></strong> đậu</p>
                                                    <p class="text-muted">Ngoại hiệu mới không dài quá 25 ký tự</p>
                                                    <form class="form-horizontal" id="frmChangeNick" name="frmChangeNick"
                                                          ng-submit="changeNick()">
                                                        <div class="form-group">
                                                            <div class="md-form mb-0">
                                                                <input type="text" class="form-control" name="txtChangenick" id="txtChangenick">
                                                                <label for="txtChangenick" class="">Ngoại hiệu mới</label>
                                                            </div>
                                                            <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect mt-2 float-right" name="btnChangenick" id="btnChangenick">Đổi
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

<!--Footer-->
<section th:replace="/fragments/footer"></section>
</body>
</html>