<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!-- Jquery Validation -->
    <script type="text/javascript" th:src="@{/bower/jquery-validation/dist/jquery.validate.js}"></script>
</head>
<body>
<script type="text/javascript" th:if="${success!= null && success == true}">
    $(document).ready(function () {
        swal({
            text: 'Đổi Mật Khẩu Thành Công! Hãy Đăng Nhập Lại.',
            type: 'success',
            confirmButtonText: 'Ok'
        }).then(
            function () {
                window.location.href = window.location.origin + '/dang-xuat';
            }
        );
    });
</script>
<script type="text/javascript" th:if="${success!= null && success == false}">
    $(document).ready(function () {
        swal({
            text: 'Có lỗi xảy ra! Hãy Thử Lại Sau!',
            type: 'warning',
            confirmButtonText: 'Ok'
        });
    });
</script>
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container container-full mb-4 mt-5">
                <section class="featured-content">
                    <section class="container-fluid">
                        <section class="featured-content" id="content">
                            <section class="row">
                                <th:block th:include="/nav-tabs/navbar_left"></th:block>
                                <section class="col-lg-10 col-md-9">
                                    <section class="row">
                                        <div class="col">
                                            <div class="card mb-5">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="oi oi-book"></span> Cập Nhật Truyện</h1>
                                                </h3>
                                                <div class="card-body">
                                                    <form method="POST" enctype="multipart/form-data" class="section-preview" th:object="${story}"
                                                          th:action="@{/tai-khoan/sua_truyen/save}" id="resetForm">
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="id" name="vnName" th:value="*{vnName}" readonly>
                                                                    <label for="id" class="form-label text-primary">ID Truyện </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="vnName" name="vnName" th:value="*{vnName}"
                                                                           th:classappend="${#fields.hasErrors('vnName')} ? 'is-invalid' : ''">
                                                                    <label for="vnName" class="form-label text-primary">Tên Tiếng Việt </label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('vnName')}" th:errors="*{vnName}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="cnName" name="cnName" th:value="*{cnName}"
                                                                           th:classappend="${#fields.hasErrors('cnName')} ? 'is-invalid' : ''">
                                                                    <label for="cnName" class=" text-primary">Tên Tiếng Trung</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('cnName')}" th:errors="*{cnName}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="url" class="form-control" id="cnLink" name="cnLink" th:value="*{cnLink}"
                                                                           th:classappend="${#fields.hasErrors('cnLink')} ? 'is-invalid' : ''">
                                                                    <label for="cnLink" class="form-label text-primary">Link Tiếng Trung</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('cnLink')}" th:errors="*{cnLink}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="author" name="author" th:value="*{author}"
                                                                           th:classappend="${#fields.hasErrors('author')} ? 'is-invalid' : ''">
                                                                    <label for="author" class=" text-primary">Tác giả</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <!--Grid column-->
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <textarea type="text" id="infomation" name="infomation" rows="6" class="form-control md-textarea" th:field="*{infomation}"
                                                                              th:classappend="${#fields.hasErrors('infomation')} ? 'is-invalid' : ''"></textarea>
                                                                    <label for="infomation" class=" text-primary form-label">Giới Thiệu</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('infomation')}" th:errors="*{infomation}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="createDate" name="createDate" th:value="*{createDate}" readonly>
                                                                    <label for="createDate" class="text-primary">Ngày Tạo </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label class="md-label-cs text-primary mt-1 form-label">Thể Loại</label>
                                                            </div>
                                                            <!-- Material checked -->
                                                            <div class="col-6 col-md-4 col-lg-2" th:each="category : ${categorylist}">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" name="categoryList" th:field="*{categoryList}"
                                                                           th:id="'inlineCheckbox'+ ${category.id}"
                                                                           th:value="${category.id}">
                                                                    <label class="custom-control-label " th:for="'inlineCheckbox'+ ${category.id}" th:text="${category.name}"
                                                                           style="line-height: 1.8"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="md-form mt-0 mb-0">
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('categoryList')}" th:errors="*{categoryList}"
                                                                        th:classappend="${#fields.hasErrors('categoryList')} ? 'd-block' : ''"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <!--Grid column-->
                                                            <div class="col-12 mt-2">
                                                                <label class="md-label-cs text-primary form-label">Hình Ảnh</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="md-form mt-0">
                                                                    <div class="file-field">
                                                                        <div class="btn blue-gradient btn-sm float-left">
                                                                            <span>Hình Ảnh</span>
                                                                            <input type="file" id="inputFile" accept="image/png, image/jpeg, image/jpg" th:field="*{editfile}"/>
                                                                        </div>
                                                                        <div class="file-path-wrapper form-row">
                                                                            <div class="col-8">
                                                                                <!-- Material input -->
                                                                                <input class="file-path" type="text" placeholder="Ảnh Bìa" id="file-name" readonly>
                                                                            </div>
                                                                            <!-- Grid column -->
                                                                            <div class="col-auto">
                                                                                <!-- Material input -->
                                                                                <button type="button" class="btn btn-sm btn-danger btn-remove" id="img-remove">Hủy</button>
                                                                            </div>
                                                                            <!-- Grid column -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 pl-0">
                                                                    <div class="md-form mt-0 mb-0">
                                                                        <em class="error invalid-feedback" th:if="${#fields.hasErrors('editfile')}" th:errors="*{uploadfile}"
                                                                            th:classappend="${#fields.hasErrors('editfile')} ? 'd-block' : ''"></em>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <section class="col-12 col-sm-3 img-input">
                                                                <img id="imgLogo" class="img-fluid" th:src="${story.images}">
                                                            </section>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <select class="mdb-select md-form colorful-select dropdown-primary" th:field="*{status}" th:disabled="${story.status == 3 || story.status == 0}">
                                                                    <option th:each="storyStatus : ${statusList}" th:value="${storyStatus.id}" th:text="${storyStatus.name}"></option>
                                                                </select>
                                                                <label class="md-label-cs text-primary mt-1 form-label">Trạng Thái</label>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <div class="row text-right">
                                                            <div class="col-12">
                                                                <input type="reset" class="btn btn-outline-primary btn-rounded waves-effect" value="Khôi Phục"/>
                                                                <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect" value="Cập NhậtTruyện"/>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
    <script th:inline="javascript">
        var message = /*[[${story.images}]]*/ '';
        $("#inputFile").change(function () {
            var fileName = $('#inputFile').val();
            if (fileName !== "") {
                readURL(this);
                readFileName(this);
                showRemoveBtn();
            } else {
                removeURL();
                removeFileName();
                hiddenRemoveBtn();
            }
        });
        $('#img-remove').click(function () {
            removeURL();
            removeFileName();
            hiddenRemoveBtn();
            $('#inputFile').val(null);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    //alert(e.target.result);
                    $('#imgLogo').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function readFileName(input) {
            $('#file-name').val(input.files[0].name);
        }

        function removeURL() {
            $('#imgLogo').removeAttr('src');
            $('#imgLogo').attr('src', message);

        }

        function removeFileName() {
            $('#file-name').val('');
        }

        function showRemoveBtn() {
            $('#img-remove').addClass('is-selected');
        }

        function hiddenRemoveBtn() {
            $('#img-remove').removeClass('is-selected');
        }
    </script>
</section>

<!--Footer-->
<section th:replace="/fragments/footer"></section>
</body>
</html>