<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="/fragments/header"></th:block>
    <!-- Jquery Validation -->
    <script type="text/javascript" th:src="@{/bower/jquery-validation/dist/jquery.validate.js}"></script>
</head>
<body>
<script type="text/javascript" th:if="${success!= null && success == false}">
    $(document).ready(function () {
        swal({
            text: 'Có lỗi xảy ra! Hãy Thử Lại Sau!',
            type: 'warning',
            confirmButtonText: 'Ok'
        });
    });
</script>
<section class="page-wrapper">
    <!--NavBar-->
    <section th:replace="/fragments/navbar"></section>

    <!--Body-->
    <section class="truyen-main">
        <section class="truyen-section section-featured">
            <section class="container container-full mb-4 mt-5">
                <section class="featured-content">
                    <section class="container-fluid">
                        <section class="featured-content" id="content">
                            <section class="row">
                                <th:block th:include="/nav-tabs/navbar_left"></th:block>
                                <section class="col-lg-10 col-md-9">
                                    <section class="row">
                                        <div class="col">
                                            <div class="card mb-5">
                                                <h3 class="card-header primary-color white-text">
                                                    <span class="oi oi-book"></span> Cập Nhật Chương <span th:text="${chapter.chapterNumber}"></span>
                                                </h3>
                                                <div class="card-body">
                                                    <form method="POST" enctype="multipart/form-data" class="section-preview" th:object="${chapter}"
                                                          th:action="@{/tai-khoan/sua_chuong/save}" id="resetForm">
                                                        <input type="text" class="form-control" th:field="*{id}" hidden/>
                                                        <input type="text" class="form-control" th:field="*{story.id}" hidden/>
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="serial" name="serial" th:value="*{serial}" length="255"
                                                                           th:classappend="${#fields.hasErrors('serial')} ? 'is-invalid' : ''">
                                                                    <label for="serial" class="form-label text-primary">Thứ tự </label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('serial')}" th:errors="*{serial}"></em>
                                                                    <span class="form-text text-muted">
                                                                        Đây là số thứ tự của chương. Danh sách chương được sắp xếp theo STT này.
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" length="255" id="chapterNumber" name="chapterNumber" th:value="*{chapterNumber}"
                                                                           th:classappend="${#fields.hasErrors('chapterNumber')} ? 'is-invalid' : ''">
                                                                    <label for="chapterNumber" class=" text-primary form-label">Chương Thứ</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('chapterNumber')}" th:errors="*{chapterNumber}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="name" name="name" th:value="*{name}" length="255"
                                                                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                                                                    <label for="name" class=" text-primary">Tên Chương</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="createDate" name="createDate" th:field="*{createDate}" readonly>
                                                                    <label for="createDate" class="text-primary">Ngày Tạo </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <!--Grid column-->
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <textarea type="text" id="infomation" name="content" rows="10" class="form-control md-textarea" th:value="*{content}"
                                                                              th:field="*{content}"
                                                                              th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''"></textarea>
                                                                    <label for="content" class=" text-primary">Nội dung:</label>
                                                                    <em class="error invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></em>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="md-form mb-0">
                                                                    <input type="text" class="form-control" id="createDate" name="createDate" th:value="*{createDate}" readonly>
                                                                    <label for="createDate" class="text-primary">Ngày Tạo </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <select class="mdb-select md-form colorful-select dropdown-primary" th:field="*{status}"
                                                                        th:disabled="${chapter.status == 2 || chapter.status == 0}">
                                                                    <option th:each="chapterStatus : ${statusList}" th:value="${chapterStatus.id}" th:text="${chapterStatus.name}"
                                                                            th:disabled="${chapterStatus.id == 2}"></option>
                                                                </select>
                                                                <label class="md-label-cs text-primary mt-1 form-label">Trạng Thái</label>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                        <!--Grid row-->
                                                        <div class="row text-right">
                                                            <div class="col-12">
                                                                <a th:href="@{'/tai-khoan/list_chuong/'+${chapter.story.id}}" class="btn btn-outline-primary btn-rounded waves-effect">Quay Lại</a>
                                                                <input type="reset" class="btn btn-outline-primary btn-rounded waves-effect" value="Làm Lại"/>
                                                                <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect" value="Cập Nhật"/>
                                                            </div>
                                                        </div>
                                                        <!--Grid row-->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>

<!--Footer-->
<section th:replace="/fragments/footer"></section>
<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>
</body>
</html>