<header>

    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
        <ul class="custom-scrollbar">

            <!-- Logo -->
            <li class="logo-sn waves-effect pt-3">
                <div class="text-center">
                    <a class="pl-0" style="height: auto;margin-bottom: 5px;">
                        <img style="max-width: 10rem;" th:src="${avatar}" class="img-fluid rounded-circle">
                    </a>
                    <h4 class="pt-1 text-primary" th:text="${displayname}"></h4>
                </div>
                <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">

                    <!-- Simple link -->
                    <li>
                        <a th:href="@{/quan-tri}" class="collapsible-header waves-effect">
                            <i class="w-fa fas fa-tachometer-alt"></i>Dashboards</a>
                    </li>

                    <li>
                        <a th:href="@{/quan-tri/the_loai}" class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fas fa-image"></i>Quản Lý Thể Loại </a>
                    </li>
                    <li>
                        <a th:href="@{/quan-tri/nguoi_dung}" class="collapsible-header waves-effect">
                            <i class="w-fa fas fa-user"></i>Quản Lý Người Dùng
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/quan-tri/truyen}" class="collapsible-header waves-effect arrow-r">
                            <i class="w-fa fab fa-css3"></i>Quản Lý Truyện </a>
                    </li>
                    <li>
                        <a href="../modals/modals.html" class="collapsible-header waves-effect"><i class="w-fa fas fa-th"></i>Quản Lý Report</a>
                    </li>
                </ul>
            </li>
            <!-- Side navigation links -->

        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">

        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
        </div>

        <!-- Breadcrumb -->
        <div class="breadcrumb-dn mr-auto">
            <p th:text="${titleMenu}"></p>
        </div>

        <div class="d-flex change-mode">

            <!-- Navbar links -->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block" th:text="${displayname}"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" th:href="@{/tai-khoan}">Hồ Sơ</a>
                        <a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a>
                    </div>
                </li>

            </ul>
            <!-- Navbar links -->

        </div>

    </nav>
    <!-- Navbar -->
</header>