<!-- Bootstrap tooltips -->
<script th:src="@{/mdbootstrap/js/popper.min.js}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script th:src="@{/mdbootstrap/js/bootstrap.min.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/mdbootstrap/js/mdb.min.js}"></script>

<script>

    // SideNav Initialization
    $(".button-collapse").sideNav();
    var container = document.querySelector('.custom-scrollbar');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });

    // Tooltips Initialization
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>