<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <th:block th:insert="/fragments/adminHeader"></th:block>
</head>
<body class="fixed-sn white-skin body-none">
    <!--NavBar-->
    <section th:replace="/fragments/adminNavbar"></section>
    <main>
        <form method="POST" enctype="multipart/form-data" class="section-preview" th:object="${user}"
        th:action="@{/quan-tri/nguoi_dung/cap_nhat/save}" id="resetForm">
        <div class="container-fluid">

            <!-- Section: Intro -->
            <section class="pb-4">
                <div class="card">
                    <h2 class="card-header primary-color white-text text-center font-weight-bold">
                        <span class="oi oi-book"></span> CẬP NHẬT NGƯỜI DÙNG
                    </h2>

                    <div class="card-body">

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="id" name="id" th:value="*{id}" readonly>
                                    <label for="id" class="text-primary">ID: </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="username" name="username" th:value="*{username}" readonly>
                                    <label for="username" class="text-primary">Tên Đăng Nhập: </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="displayName" name="displayName" th:value="*{displayName}" readonly>
                                    <label for="displayName" class="text-primary">Tên Hiển Thị: </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="createDate" name="createDate" th:field="*{createDate}" readonly>
                                    <label for="createDate" class="text-primary">Ngày Tạo </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="gold" name="gold" th:field="*{gold}" readonly>
                                    <label for="gold" class="text-primary">Số đậu: </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" class="form-control" id="email" name="email" th:value="*{email}" readonly>
                                    <label for="email" class="text-primary">Email </label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-12">
                                <label class="md-label-cs text-primary mt-1 form-label">Phân Quyền</label>
                            </div>
                            <!-- Material checked -->
                            <div class="col-6 col-md-4 col-lg-2" th:each="category : ${listRole}">
                                <div class="custom-control custom-checkbox" >
                                    <input type="checkbox" class="custom-control-input" name="roleList" th:field="*{roleList}"
                                    th:id="'inlineCheckbox'+ ${category.id}" th:value="${category.id}"
                                    th:disabled="${(checkRole == false && (category.id == 1 || category.id == 2)) || category.id == 4}">
                                    <label class="custom-control-label " th:for="'inlineCheckbox'+ ${category.id}" th:text="${category.name}" style="line-height: 1.8"></label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <select class="mdb-select md-form colorful-select dropdown-primary" th:field="*{status}">
                                    <option th:each="chapterStatus : ${statusList}" th:value="${chapterStatus.id}" th:text="${chapterStatus.name}"></option>
                                </select>
                                <label class="md-label-cs text-primary mt-1 form-label">Trạng Thái</label>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="row text-right">
                            <div class="col-12">
                                <a class="btn btn-outline-secondary btn-rounded waves-effect" th:href="@{/quan-tri/nguoi_dung}">Quay Lại</a>
                                <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect" value="Cập Nhật"/>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>
    </form>
</main>
<section th:replace="/fragments/adminFooter"></section>
<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
        $("#inlineCheckbox1").change(function(e) {

            if ($(this).prop("checked")) {
              $("#inlineCheckbox2").prop("disabled", true);
          } else {
              $("#inlineCheckbox2").prop("disabled", false);
          }
      });
        $("#inlineCheckbox2").change(function(e) {

            if ($(this).prop("checked")) {
              $("#inlineCheckbox2").prop("disabled", true);
          } else {
              $("#inlineCheckbox2").prop("disabled", false);
          }
      });
    });
</script>
</body>
</html>